table {
  width: 100%;
}

th {
  text-align: left;
  color: #7c7c7c;
}

tr {
  height: 32px;
}

th.right {
  text-align: right;
}

th.center {
  text-align: center;
}

td {
  color: #7c7c7c;
}

td.right {
  text-align: right;
}

td.center {
  text-align: center;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 72px;
  background-color: #ffffff;
  padding: 24px 122px;
  box-sizing: border-box;
}

.logo-navbar {
  height: 24px;
  width: auto;
}

.navbar-calendar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 260px;
}

.input-calendar {
  width: 156px;
  height: 42px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.navbar-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 100%;
}

.navbar-user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
  height: 38px;
  width: 38px;
  border-radius: 24px;
  background-color: #e4fde1;
}

.finance-card-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 48px 122px;
  box-sizing: border-box;
}

.finance-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 140px;
  padding: 5px;
  border-radius: 20px;
  background-color: #ffffff;
}

.table-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 122px;
  box-sizing: border-box;
}

.table-content-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 24px;
  height: 592px;
  padding: 24px;
  box-sizing: border-box;
}

.table-content-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.modal-background {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 4, 0, 0.2);
}

.modal-content {
  height: 100%;
  width: 480px;
  background-color: #f4f4f9;
  padding: 24px;
  box-sizing: border-box;
}

.modal-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (max-device-width: 450px) {
  input {
    background-color: transparent;
    width: 100%;
    height: 56px;
    border-color: #06bee1;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    color: #010400;
    font-size: 24px;
    font-weight: 400;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 12px;
  }

  select {
    background-color: transparent;
    width: 100%;
    height: 56px;
    border-color: #06bee1;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    color: #010400;
    font-size: 24px;
    font-weight: 400;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 12px;
  }

  button {
    background-color: #5936cd;
    height: 56px;
    width: 432px;
    border-radius: 12px;
    color: #f4f4f9;
    font-weight: bold;
    font-size: 27px;
    border-color: #5936cd;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
  }

  label {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
  }

  th {
    font-size: 25px;
    text-align: left;
    color: #7c7c7c;
  }

  td {
    font-size: 20px;
    color: #7c7c7c;
  }

  h2 {
    font-size: 34px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
  }

  h3 {
    font-size: 27px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
  }

  button.small {
    background-color: #ffffff;
    color: #010400;
    font-size: 23px;
    border-radius: 8px;
    width: 130px;
    height: 67px;
  }

  p {
    font-size: 21px;
    font-weight: 500;
    color: #7c7c7c;
    margin: 20px;
    padding: 0px;
  }

  a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 120px;
    background-color: #ffffff;
    padding: 24px 122px;
    box-sizing: border-box;
  }

  .input-calendar {
    width: 160px;
    height: 42px;
    text-align: center;
    font-size: 19px;
    margin-left: 90px;
    font-weight: bold;
  }

  .navbar-user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    height: 12px;
    width: 27px;
    padding: 18px;
    border-radius: 24px;
    background-color: #e4fde1;
  }

  .navbar-user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 200%;
    width: 260px;
    height: 100%;
  }

  .finance-card-container {
    display: grid;
    width: 100%;
    column-gap: 38px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    margin-top: 48px;
  }

  .finance-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 273px;
    height: 140px;
    margin-bottom: 50px;
    margin: 10px;
    border-radius: 24px;
    background-color: #ffffff;
  }

  .table-content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff;
    border-radius: 24px;
    height: 992px;
    padding: 24px;
    box-sizing: border-box;
  }

  .table-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 122px;
    box-sizing: border-box;
  }
}
